<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="./styles.css" rel="stylesheet">
    <link href="./tailwind-dark.css" rel="stylesheet">
    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module';
      createApp({
        el: '#body',
        dataFields:{
          Name: {
            label: "Full Name",
            data: "",
            dataType: "text",
            placeholder: "Jose Rizal",
            get validate () {
              if (/\S+\s\S+/.test(this.data)){
                return true;
              } else { return false; }
            }
          },
          StudentNo: {
            label: "Student Number",
            data: "",
            dataType: "text",
            placeholder: "20XX-YYYYY",
            get validate () {
              if (/20\d{2}-\d{5}/.test(this.data)){
                return true;
              } else { return false; }
            }
          },
          Course: {
            label: "Course",
            data: "",
            dataType: "selection",
            options: ['BS Computer Engineering', 'BS Electrical Engineering', 'BS Electronics and Communications Engineering'],
            get validate () {
              if (this.options.includes(this.data)){
                return true;
              } else {
                return false;
              }
            }
          },
          Email: {
            label: "Email Address",
            data: "",
            dataType: "text",
            placeholder: "username@website.com",
            get validate () {
              if (/\w+@\w+\.\w+/.test(this.data)){
                return true;
              } else { return false; }
            }
          },
          Contacts: {
            label: "Contact Number",
            data: "",
            dataType: "text",
            placeholder: "09XXYYYZZZZ",
            get validate () {
              if (/09\d{9}/.test(this.data)){
                return true;
              } else { return false; }
            }
          },
          Facebook: {
            label: "Facebook Link",
            data: "",
            dataType: "text",
            placeholder: "facebook.com/username/",
            get validate () {
              if (this.data != ""){
                return true;
              } else { return false; }
            }
          },
          Pronouns: {
            label: "Pronouns",
            data: "",
            dataType: "text",
            placeholder: "He/Him, They/Their, She/Her, etc.",
            get validate () {
              if (this.data != ""){
                return true;
              } else { return false; }
            }
          },
        },
        /* I could make this into a datafield, but I also could not */
        CharData: {
          label: "Character",
          selected: 0,
          optionLabel: ["mario", "luigi", "bowser", "peach", "daisy", "yoshi"],
          optionFlavor: ["A flavor", "B flavor", "C flavor", "D flavor", "E flavor", "F flavor"],
          get flavor() {
              return this.optionFlavor[this.selected]
          }
        },
        pageNo: 0,
        validateFlag: 0,
        pages: ["Name", "StudentNo", "Course", "Email", "Contacts", "Facebook", "Pronouns"],
        status: 0,
        readyContinue (){
          /* console.log("YAY!") */
          if (localStorage.pageNo) {this.pageNo = localStorage.pageNo}
          if (localStorage.dataFields) {this.dataFields = JSON.parse(localStorage.dataFields)}
          if (localStorage.status) {this.status = localStorage.status}
          else {this.status = 1; localStorage.status = 1}
        },
        readyNew (){
          localStorage.clear();
          this.ready();
        },
        ready (){
          this.status++;
          localStorage.status = this.status;
        },
        next (){
          if (this.currfield.validate){
            this.pageNo++;
            localStorage.pageNo = this.pageNo;
          } else {
            this.validateFlag = 1;
            alert('Validation Error')
          }
        },
        back (){
          this.pageNo--;
          localStorage.pageNo = this.pageNo;
        },
        get onFirst (){
          return (this.pageNo == 0)
        },
        get onLast (){
          return (this.pageNo == this.pages.length-1)
        },
        get currfield (){
          return this.dataFields[this.pages[this.pageNo]];
        },
        active (field){
          if (field == this.currfield){
            return "menu-item menu-item-active";
          } else {
            return "menu-item";
          }
        },
        selectCharacter (index) {
          this.CharData.selected = index;
        },
        activeCharacter (index) {
          if (index == this.CharData.selected){
            return "character-option character-active";
          } else {
            return "character-option";
          }
        },
        dataUpdate () {
          /* This is awful */
          localStorage.dataFields = JSON.stringify(this.dataFields);
        },
        debug (){
          // sample url
          https://docs.google.com/forms/d/e/1FAIpQLSdimV_BMwHWE-cKeX2fb12D4B0zerxjprYBW_5jRUxd_YRWFQ/formResponse?entry.1971848531=ASDASDAS&entry.2095210633=ASDASD&entry.1023986858=ASDSADASD&entry.2106804884=ASDASDA&entry.15147818=AFHD&entry.1362062595=DFHDF&entry.581553320=DFHDFH&entry.2083507613=DFHFDHD
          var url = "https://docs.google.com/forms/d/e/1FAIpQLSdimV_BMwHWE-cKeX2fb12D4B0zerxjprYBW_5jRUxd_YRWFQ/formResponse?"

          // 'entry.2083507613': characterSelect

          var names = ['entry.1971848531', 'entry.2095210633', 'entry.1023986858', 'entry.2106804884', 'entry.15147818', 'entry.1362062595', 'entry.581553320']
          var i = 0;

          for (let key in this.dataFields) {
            url += names[i];
            url += '='

            var field = this.dataFields[key].data;
            var arr = field.split(' ');
            if (arr.length > 1) {
              for (var k = 0; k < arr.length; k++) {
                url+= arr[k];
                if (k != arr.length-1) { url += '+'; }
              }
            }
            else { url += field; }
            if (i < 6) { url += '&'; } /* change to 7 after adding charselect */
            i++;
          }

          console.log(url);

          // console.log(data);

          fetch(url, {
            method: 'GET',
            mode: 'no-cors',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            },
          })
          .catch((err)=> console.error(err))
        }
      }).mount()
    </script>
  </head>
  <body class="bg-gray-100" v-scope>
    <div id="bg-dummy-welcome" v-if="status == 0"></div>
    <img src="./static/3a.png" id="bg-dummy-char" v-if="status == 1"></img>
    <img src="./static/2a.png" id="bg-dummy-main" v-if="status == 2"></img>
    <img src="./static/mario.png" id="icon-dummy-main" v-if="status == 2"></img>
    <div class="h-screen">
      <div id="loading" v-show="status == 0" class="grid place-self-center place-items-center h-screen">
        <div class="items-center"><img src="./static/welcem.png" id="img-welcome" class="mx-auto"></img></div>
        <div class="flex justify-center">
          <div class="start-button font-eras-bold"><button @click="readyNew()"><p>START NEW</p></button></div>
          <div class="start-button font-eras-bold" v-show="localStorage.dataFields"><button @click="readyContinue()"><p>CONTINUE</p></button></div>
        </div>
      </div>

      <div id="character" v-show="status == 1" class="grid grid-cols-8 grid-rows-6 gap-2 min-h-full">
        <div id="character-picker" class="row-start-2 row-span-4 w-4/5 place-self-center col-span-3 bg-white bg-opacity-25 rounded-3xl flex items-center flex-wrap">
          <div v-for="(characterLabel, index) in CharData.optionLabel"
              @click="selectCharacter(index)"
              v-bind:class="activeCharacter(index)"
              class="flex-basis-50">
              <img v-bind:src="'./static/characters/' + characterLabel + '.png'"></img>
          </div>
        </div>
        <div id="character-banner"
          class="row-start-1 col-start-4 row-span-2 col-span-5"
        ></div>
        <div id="character-flavor" class="row-start-3 col-start-4 row-span-2 col-span-5">
          {{ CharData.flavor }}
        </div>
        <div class="row-span-1 col-span-2 col-start-6 row-start-6 justify-self-center flex flex-row ">
          <div class="self-center font-eras-bold nav-button"><button @click="ready()"><p>SELECT</p></button></div>
        </div>
      </div>

      <div id="form" class="grid grid-cols-6 grid-rows-5 gap-2 min-h-full" v-show="status == 2">
        <div class="row-span-5 col-span-3 flex flex-col justify-evenly items-center">
          <div v-for="field in dataFields" v-bind:class="active(field)" class="font-eras-demi flex-0 w-3/5">
            <p v-text="field.label"></p>
          </div>
        </div>

        <div class="col-span-3 row-span-2 col-start-4 row-start-2 place-self-center">
          <input
            id="menu-input"
            @change="dataUpdate"
            placeholder="Insert answer here..."
            type="text"
            v-model="currfield.data"
            v-show="currfield.dataType == 'text'"
            :placeholder="currfield.placeholder"></input>
          <select @change="dataUpdate" v-model="currfield.data" v-show="currfield.dataType == 'selection'">
            <template v-for="option in currfield.options">
              <option v-text="option"></option>
            </template>
          </select>
        </div>

        <div class="bg-white-100 flex flex-row-reverse col-span-2 row-start-5 col-start-5 p-8 items-end">
          <div class="font-eras-bold nav-button"><button @click="debug()" v-show="onLast"><p>SUBMIT</p></button></div>
          <div class="font-eras-bold nav-button"><button @click="next()" v-show="!onLast"><p>NEXT</p></button></div>
          <div class="font-eras-bold nav-button"><button @click="back()" v-show="!onFirst"><p>BACK</p></button></div>
        </div>
      </div>
    </div>
  </body>
</html>
