@font-face {
  font-family: ErasBoldITC;
  src: url(./static/ErasBoldITC.ttf);
}

@font-face {
  font-family: ErasDemiITC;
  src: url(./static/ErasDemiITC.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.font-eras-bold {
  font-family: ErasBoldITC, sans-serif;
}

.font-eras-demi {
  font-family: ErasDemiITC, sans-serif;
  letter-spacing: 0.04em;
  font-stretch: 143%;
}


#form {
  position:relative;
  background:transparent;
}

#bg-dummy {
  position: absolute;
  background-image:url(./static/2a.png);
  z-index:-2;
  height:100vh;
  width:100vw;
  left:-10%;
}

.menu-item {
  filter:drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
  p {
    background-color: #e4e4e4;
    font-size:2rem;
    transition: all .2s ease-in-out;
    display:block;
    box-sizing: border-box;
    padding: 0 10%;
    clip-path:polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  }
}


.nav-button {
  box-sizing: border-box;
  padding: 0 1rem;
  button{
    background-color: #e52521;
    color:#e4e4e4;
    font-size:2rem;
    transition: all .2s ease-in-out;
    clip-path:polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    p {
      margin: 0 1rem;
    }
  }
}

.menu-item-active {
  p {
    background-color: #FBD000;
    transform:scale(1.2, 1.2);
  }
}

<<<<<<< HEAD
input#menu-input {
=======
input {
>>>>>>> f786dd46145c7fa85161cd81dbc44b08b5906c0a
  font-family: Quicksand, sans-serif;
  font-size: 2rem;
  background: none;
  border:none;
  border-bottom: 2px solid black;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }
}
<<<<<<< HEAD

#menu-input-label {
  font-family: Quicksand, sans-serif;
}
=======
>>>>>>> f786dd46145c7fa85161cd81dbc44b08b5906c0a
