@font-face {
  font-family: ErasBoldITC;
  src: url(./static/ErasBoldITC.ttf);
}

@font-face {
  font-family: ErasDemiITC;
  src: url(./static/ErasDemiITC.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

$brand-red: #e52521;
$brand-yellow: #fbd000;

.font-eras-bold {
  font-family: ErasBoldITC, sans-serif;
}

.font-eras-demi {
  font-family: ErasDemiITC, sans-serif;
  letter-spacing: 0.04em;
  font-stretch: 143%;
}


#form {
  position:relative;
  background:transparent;
}

#bg-dummy-welcome {
  position: absolute;
  background-image:url(./static/1a.png);
  background-position: center;
  background-size: cover;
  z-index:-2;
  height:100vh;
  width:100vw;
}

#bg-dummy-main {
  position: absolute;
  z-index:-2;
  height:100vh;
  width:80vw;
  pointer-events: none;
}

#bg-dummy-char {
  position: absolute;
  z-index:-2;
  height:100vh;
  width:100vw;
  pointer-events: none;
}

#icon-dummy-main {
  position: absolute;
  //background-image:url(./static/2a.png);
  z-index:-3;
  right:10%;
  top:10%;
  height:80vh;
  width:auto;
  pointer-events: none;
}

#bg-dummy-ty {
  position: absolute;
  z-index:-2;
  height:100vh;
  width:100vw;
  pointer-events: none;
}

.menu-item {
  filter:drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
  p {
    background-color: #e4e4e4;
    font-size:2rem;
    transition: all .2s ease-in-out;
    display:block;
    box-sizing: border-box;
    padding: 0 10%;
    clip-path:polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  }
}

#img-welcome {
  width: 60%;
}

.nav-button {
  box-sizing: border-box;
  padding: 0 1.5rem;
  filter:drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
  transition: all .2s ease-in-out;
  button{
    background-color: #e52521;
    color:#e4e4e4;
    font-size:2.5rem;
    clip-path:polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    p {
      margin: 0 1.5rem;
    }
  }
  &:hover{
    transform:scale(1.1, 1.1);
  }
  &:active{
    transform:scale(0.9, 0.9);
    button{
      filter:brightness(0.5);
    }
  }
}

.start-button {
  box-sizing: border-box;
  padding: 0 2.5rem;
  filter:drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
  transition: all .2s ease-in-out;
  button{
    background-color: $brand-yellow;
    color:#e4e4e4;
    font-size: 3.5rem;
    clip-path:polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    p {
      margin: 0 2.5rem;
    }
  }
  &:hover{
    transform:scale(1.1, 1.1);
  }
  &:active{
    transform:scale(0.9, 0.9);
    button{
      filter:brightness(0.5);
    }
  }
}

.menu-item-active {
  p {
    background-color: $brand-yellow;
    transform:scale(1.2, 1.2);
  }
}

input#menu-input {
  font-family: Quicksand, sans-serif;
  font-size: 2rem;
  background: none;
  border:none;
  border-bottom: 2px solid black;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: rgba(0,0,0,0.6);
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,0.6);
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,0.6);
  }
}

select {
  font-family: Quicksand, sans-serif;
  font-size: 2rem;
  background: none;
  border:none;
  border-bottom: 2px solid black;
}

#menu-input-label {
  font-family: Quicksand, sans-serif;
}

#choose-char-image {
  position:absolute;
  right:5%;
  top:5%;
  height:auto;
  width:50vw;
}

#character {
  position:relative;
}

@mixin hover-selector() {
  position:absolute;
  background-image:url(./static/select.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-origin:content-box;
  background-position:center center;
  z-index:3;
  height:100%;
  width:100%;
  content:"";
}

#character-picker {
  height:90%;
  row-gap:0rem;
  place-self: start center;
}

.character-option {
  max-width:100%;
  height:auto;
  flex-basis:50%;
  position:relative;
  transition: all .2s ease-in-out;
  &:hover {
    &:before{
      @include hover-selector;
      opacity:50%;
    }
  }
  img {
    width:60%;
    height:auto;
    margin:auto;
  }
}

.character-active {
  //background-color:red;
  &:before{
    @include hover-selector;
  }
}

#character-flavor {
  width:90%;
  font-family:Quicksand, sans-serif;
  font-size:1rem;
  height:100%;
  h2 {
    font-family:ErasBoldITC, sans-serif;
    font-size:3rem;
  }
  p{
    margin-left:2rem;
    white-space:pre-line;
  }
}

#character-banner {
  background-image:url(./static/chooseachar.png);
  background-size:contain;
  background-repeat:no-repeat;
}

#ty-banner {
  background-image:url(./static/seeyou.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center top;
  height:100%;
  width:80%;
}

#ty-text {
  font-family:ErasDemiITC, sans-serif;
  font-size:2rem;
  width:80%;
  height:100%;
  position:relative;
  p {
    transform:rotate(-3.5deg);
    position:absolute;
    right:10%;
    top:-15%;
    text-align:right;
  }
}

#ty-trophy{
  background-image:url(./static/trophy.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  height:90%;
  width:100%;
}

.validation-warning {
  margin-top:2rem;
  font-family:Quicksand, sans-serif;
  font-size:2rem;
  color: $brand-red;
}

#char-select-ok {
  div {
    box-sizing: border-box;
    padding-left:8rem;
    padding-right:0;
  }
}
